.btn {
    background-color: #21262d;
    border-color: #f0f6fc;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    color: #c9d1d9;
    font-family: -apple-system;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0px 0px 0px 8px;
    padding: 5px 16px;

    &:hover {
        border-color: #646cff;
    }

    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}